<h2>New Permission</h2>

<% form_for :permission, :url => { :action => :create } do |form| %>
  <%= render(:partial => 'form') %>
  <%= submit_tag "Create New Permission" %>
<% end %>

<%= link_button t('go_back'), (:action => :list), 'go_back' %>