<h2>Redigering af gruppe</h2>

<% form_tag :action => :update, :id => @group do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Anvend Ændringer', { :class => 'normal' } %>
<% end %>

<%= link_button t('show'), group_path(@group), 'group_show' :title => t('show') %> |
<%= link_button t('go_back'), groups_path, 'groups', :title => t('go_back_to_list') %>
