<h1>Ny scoreskala</h1>

<% form_tag :action => :create_scale do %>

	<%= text_field(:score_scale, :title, :class => 'btn_gray') %>

  <%= submit_tag t('create'), :class => 'btn_gray' %>
<% end %>

<br>
<%= link_button t('go_back_to_list'), :action => 'list_scales', 'go_back' %>
