<%- cache "main_#{current_user.highest_role}" do %>
<p>
<span class="h1">Velkommen til CBCL-Online</span>
</p>

<p><br></p>

<%- if current_user.access?(:faq_show) %>
	<div id="journals_help">
		<a href="/journals/" title="Journaler"><img src="/images/journal_64.png" alt="Journaler" border=0 align="middle" />
		<span class="h3">Journaler</span></a><p>Patienter kan oprettes i menuen Journaler. Her kan du også søge på eksisterende patienter. Søg enten på navn, ID, eller cprnr.</p>
	</div>
<% end %>

	<p><br></p>

<%- if current_user.access?(:team_new_edit_delete) %>
	<div id="team_help">
		<a href="/teams/" title="Teams"><img src="/images/users_64.png" alt="Teams" border=0 align="middle" />
		<span class="h3">Teams</span></a><p>Du kan oprette teams under menupunktet 'Teams'. Herunder kan du se yderligere information, fx. hvilke brugere og journaler, der er tilknyttet.</p>
	</div>
<% end %>
<p><br/></p>

<%- if current_user.access?(:faq_admin) %>
	<div id="center_help">
		<a href="/centers/" title="Centre"><span class="h3">Centre</span></a>
		<p>Du kan oprette centre og teams under menupunkterne 'Centre' og 'Teams'. Herunder kan du se yderligere information, fx. hvilke brugere og journaler, der er tilknyttet.</p>
	</div>

	<p><br/></p>
	<div class="subscription_help">
		<span class="h3">Abonnementer</span>
		<p>Du kan oprette abonnementer på spørgeskemaer under menupunktet 'Abonnementer'. Her kan du også se forbruget og nulstille forbrugstælleren.</p>
	</div>

	<div class="score_help" style="display:none;">
		<h3>Scoreberegninger</h3>
		<p>Du kan oprette scoreberegninger til spørgeskemaer under menupunktet 'Scores'</p>
	</div>
<% end %>
<% end %>