<h2>Ny Login-bruger</h2>
<%= params[:user] = @user %>
<% form_tag :action => :create, :id => @entry do %>
<%= render :partial => 'form' %>

<%= submit_tag "Opret", :name => 'submit[create]', :class => 'btn_gray' %>
<% end %>

<%= link_to 'Tilbage', { :controller => :journal, :action => :show, :id => @group }, :title => 'Tilbage til journal' %>
