
<h2>Slet Team &quot;<%= @group.title %>&quot;?</h2>

<p>
Er du sikker på at du vil slette teamet med navnet &quot;<%= @group.title %>&quot;?
Alle brugere vil blive fjernet fra teamet.<br>
Journaler i teamet vil ikke blive slettet, men flyttes til centeret.<br>
 <strong>Denne handling kan ikke fortrydes</strong>.
</p>

<% form_tag :action => :destroy, :id => @group do %>
  <%= submit_tag 'Ja', :name => 'yes', :class => 'gray' %>
  <%= submit_tag 'Nej', :name => 'no', :class => 'gray' %>
<% end %>
