<h2>Redigering af team</h2>

<% form_tag team_path(@group), :method => :put do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Anvend', { :class => 'normal' } %>
<% end %>

<p/>
<%= link_button t('go_back'), @group, 'go_back', :title => t('go_back') %>
