<h2>Redigering af team</h2>

<% form_tag :action => :update, :id => @group do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Anvend', { :class => 'normal' } %>
<% end %>

<%= link_to 'Vis', @group, :title => 'Vis Team' %> |
<%= link_to 'Tilbage', teams_path, :title => 'Tilbage' %>
