<h2>Redigering af team</h2>

<% form_tag team_path(@group), :method => :put do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Anvend', { :class => 'normal' } %>
<% end %>

<%= link_to t('show'), @group, :title => 'Vis Team' %> |
<%= link_to t('go_back'), teams_path, :title => t('go_back') %>
