<p><!-- <img src="/images/users_64.png" border=0 align="middle" /> -->
<span class="h3">Teams</span></a><p>
</p>

<p>
	<%= render :partial => "shared/teams" %>
		<p/>
		<br/>
</p>

<% if current_user.access? :team_new_edit_delete %>
<div class="commands">
	<%= link_button t('team.new'), new_team_path, 'team_add' %>
</div>
<% end %>
