<h2>Teams</h2>

<% @groups.each do |center, teams| %>
    <%= "Center: " + link_to(center.title, center_path(center), :title => t('center.show')) %>
		<% if teams.any? %>
			<ul>
    		<% teams.each do |group| %>
	    	<li>
					<%=	link_to(group.title, group) +	" [" + group.users.length.to_s + " bruger#{'e' unless group.users.length == 1}] " %>
	    	</li>
    		<% end %>
			</ul>
 		<% end %>
<% end %>

<% if current_user.access? :team_new_edit_delete %>
<div class="commands">
	<%= link_button t('team.new'), new_team_path, 'team_add' %>
</div>
<% end %>
