<h2>Teams</h2>

<p>
<% @teams_by_center.each do |center, teams| %>
    <%= link_to(center.title, center_path(center), :title => t('center.show')) %>
		<% if teams.any? %>
			<% @groups = teams %>
			<%= render :partial => "shared/group_list" %>
 		<% end %>
		<p/>
		<br/>
<% end %>
</p>

<% if current_user.access? :team_new_edit_delete %>
<div class="commands">
	<%= link_button t('team.new'), new_team_path, 'team_add' %>
</div>
<% end %>
