<h2>Nyt Team</h2>

<% form_tag :action => :create do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Opret Team", :class => 'btn_gray' %>
<% end %>

<%= link_button t('go_back'), users_url, 'go_back', :title => t('go_back_to_list') %>
