<h1>Ny scoreberegning</h1>

<% form_tag :action => :create do %>
  <%= render :partial => 'form' %>

  <%= submit_tag "Opret", :class => 'btn_gray' %>
<% end %>

<p/><br/>
<%= link_to 'Tilbage til liste', :action => :list %>
