<h3>Et nyt password er genereret</h3>

<p>
Kære <em><%=h @user.name %></em>, passwordet er blevet sendt til din email
addresse <em><%=h @user.email %></em>. Følg venligst instruktionerne i denne
email.
</p>

<p>
	<%= link_button t('goto_login'), login_path, 'goto_login' %>
</p>