<%= stylesheet_link_tag 'cbcl' %>

<h2>Mistet Password Formular</h2>

<p>
Hvis du har mistet dit password, så kan du udfylde nedenstående formular,
og et nyt password vil blive sendt til din email.
</p>

<p>
Vær opmærksom på at dit nye password ikke kan bruges før du har bekræftet
din registrering først.
</p>

<% form_tag :action => :lostpassword do %>

<dl class="form">
  <dt><label for="user_login">Dit Brugernavn</label></dt>
  <dd><input type="text" id="user_login" name="login" size="30" /></dd>

  <dt><label for="user_email">Din Email</label></dt>
  <dd>
    <input type="text" id="user_email" name="email" size="30" />
    <div class="hint">En email vil blive sendt til denne adresse,
    som du skal bruge for at fuldende registreringen.</div>
  </dd>
</dl>

<% if flash[:error] -%>
	<div id="errorExplanation"><%= flash[:error] %></div>
<% end %>
<% if flash[:notice] -%>
	<div id="notice"><%= flash[:notice] %></div>
<% end %>

<%= submit_tag 'Send mig et nyt password', :class => 'button password_mail' %>
<% end %>
