<h2>Registration Succesfuld</h2>

<p>
Tak, <em><%= @user.name %></em> for at registrere dig. Der er et skridt til før du er færdig.
 Vi har sendt dig en email som beskriver de nødvendige skridt.
</p>

<p>
CBCL Online
</p>