Controller: <%= @controller %>: the controller that caused the error<p>
Request: <%= @request %>: the current request object<p>
Exception: <%= @exception %>: the exception that was raised<p>
Host: <%= @host %>: the name of the host that made the request<p>
Backtrace: <%= @backtrace %>: a sanitized version of the exception's backtrace<p>
Rails_root: <%= @rails_root %>: a sanitized version of RAILS_ROOT<p>
Data: <%= @data %>: a hash of optional data values that were passed to the notifier<p>
Sections: <%= @sections %>: the array of sections to include in the email<p>