<%= error_messages_for 'survey' %>

<!--[form:survey]-->
<p><label for="survey_name">Name</label><br/>
<%= text_field 'survey', 'name', :class => 'gray'  %></p>

<p><label for="survey_description">Description</label><br/>
<%= text_area 'survey', 'description', :class => 'gray'  %></p>

<p><label for="survey_user">Skematype (fx forældreskema)</label><br/>
<%= select 'survey', 'description', AdminHelper::USER_TYPES  %></p>
<!--[eoform:survey]-->

