
<%= javascript_include_tag :defaults %>

<!--<h4>Params</h4> < % = debug(params) %> -->

<h1>Test for Internet Explorer without tables</h1>

<p>Lists of rows

<div class="table">
<ol class="row">
    <li class="cell" id="cell1_1">abekat</li>
    <li class="cell" id="cell1_2">bog</li>
    <li class="cell" id="cell1_3">c</li>
    <li class="cell" id="cell1_4">dunkelben</li>
    <li class="cell" id="cell1_5">e</li>
    <li class="cell" id="cell1_6">f</li>
</ol>  
<ol class="row">
    <li class="cell" id="cell2_1">a</li>
    <li class="cell" id="cell2_2">b</li>
    <li class="cell" id="cell2_3">c</li>
    <li class="cell" id="cell2_4">d</li>
    <li class="cell" id="cell2_5">e</li>
    <li class="cell" id="cell2_6">f</li>
</ol>
<ol class="row">
    <li class="cell" id="cell3_1">a</li>
    <li class="cell" id="cell3_2">b</li>
    <li class="cell" id="cell3_3">c</li>
    <li class="cell" id="cell3_4">d</li>
    <li class="cell" id="cell3_5">e</li>
    <li class="cell" id="cell3_6">f</li>
</ol>
</div>

<ul>
<li>list item
<ul>
      <li>sublist item
            <ul>
            <li>subsublist item</li>
            </ul>
      </li>
      </ul>
</li>
</ul>