
<center>
<script type="text/javascript">
<!--
writeDocument('<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" width="1001" height="856" ID="Captivate1">'+
  '<param name="movie" value="Creating-questions_skin.swf">'+
  '<param name="quality" value="high">'+
  '<param name="loop" value="0">'+
  '<embed src="Creating-questions_skin.swf" width="1001" height="856" loop="0" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" menu="false"></embed>'+
  '</object>');
//-->
</script>
<noscript>
	<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" width="1001" height="856" ID="Captivate1">
		<param name="movie" value="creatingquestions_skin.swf">
		<param name="quality" value="high">
		<param name="loop" value="0">
		<embed src="creatingquestions_skin.swf" width="1001" height="856" loop="0" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" menu="false"></embed>
	</object>
</noscript>
</center>

