<div class="survey" style='background-color: #<%= survey.color %>;'>
	<div class="surveyname">Spørgeskema: <%= @survey.title %></div>
    <div class="surveyinfo"><b>Antal spørgsmål:</b> <%= @survey.questions.length.to_s %></div>
</div>
<br>
	<%= render :partial => "shared/question", :collection => @survey.sort_questions %>
</div>

<br>
<%= link_to 'Edit', :action => :edit, :id => @survey %> |
<%= link_to 'Back', :action => :list %>



<div id="debug">
</div>