<%= javascript_include_tag :defaults %>

This should be a (dynamic) table for creating (arbitrary) complex questions.

<p />

	<div id="test">
test div
	</div>
	
<h1 id='animalheader'>RJS Template Test</h1>
<ul id='animals'>
  <li>Dog</li>
  <li>Cat</li>
  <li>Mouse</li>
</ul>

<br />

		
<%= update_page_tag do |page|
			    	 page.replace_html( 'animalheader', "Old header hello")
			end
%>
<%= link_to_function("add stuff",
			remote_function( :url => { :action => :add_stuff },
			:position => 'bottom')
			) %>
<%= link_to_remote("Add a fox",
			:url => { :action => :add_a_fox },
			:position => 'bottom'
      ) %>