<% score_item = show_score_item %>
<tr>
	<td><%= score_item.question.number %></td>
	<td><%= score_item.range %></td>
	<td><%= score_item.item_qualifier %></td>
	<td><%= score_item.items %></td>
</tr>
