<% @subtitle = "Vælg spørgeskemaer der skal tilføjes til scoreberegning" %>
<% @group = @score %>

<h3>Tilføj spørgeskemaer til score-beregning <%= @score.title %></h3>
<p/>
<% form_tag :action => :add_survey do %>

<%= render :partial => "shared/add_survey" %>

<p/>
<%= submit_tag "Tilføj", :name => 'submit[update]', :class => 'btn_gray' %>
<%= link_to 'Tilbage', { :action => :show, :id => @score }, :title => 'Tilbage til journal' %>

<% end %>