<% @subtitle = "Vælg spørgeskemaer der skal tilføjes til scoreberegning" %>
<% @group = @score %>

<h3>Tilføj spørgeskemaer til score-beregning <%= @score.title %></h3>

<% form_tag :action => :add_survey do %>

<%= render :partial => "shared/add_survey" %>


<%= submit_tag "Tilføj", :name => 'submit[update]', :class => 'btn_gray' %>
<%= link_to t('go_back'), { :action => :show, :id => @score }, :title => t('go_back_to_journal') %>

<% end %>