<h1>Rediger scoreberegning</h1>

<% form_tag score_path(@score), :method => :put do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Gem ændringer', :class => 'btn_gray' %>
<% end %>

<br>
<%= link_to t('show'), score_path(@score) %> |
<%= link_to t('go_back_to_list'), scores_path %>

