<h1>Ny scoreberegning</h1>

<% form_tag scores_path, :method => :post do %>
  <%= render :partial => 'form' %>

  <%= submit_tag t('create'), :class => 'btn_gray' %>
<% end %>

<br>
<%= link_to t('go_back_to_list'), scores_path %>
