<h2><%= @page_title %></h2>

<%= render(:partial => "center/form") %>

<%= link_to 'Vis', :action => :show, :id => @group, :title => 'Vis' %> |
<%= link_to 'Tilbage', :action => :list, :title => 'Tilbage' %>
