<h2>Betal abonnementer</h2>
<p>
	Dette vil nulstille den aktive tæller. 
</p>
<p><%= render :partial => "shared/subscription_summary", :object => @copies %></p>
<p>
Er du sikker på at abonnementer er betalt?

<% form_tag :action => :pay_subscriptions, :id => @group  do %>
<%= submit_tag 'Ja, sæt til betalt', :name => 'yes', :class => "gray" %>
<%= submit_tag 'Nej, afbryd', :name => 'no', :class => "gray" %>
<% end %>