<h1>Redigering af spørgeskema</h1>

<% form_tag survey_builder_path(@survey), :method => :put do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Anvend', { :class => 'normal' } %>
<% end %>

<%= link_button t('show'), survey_path(@survey), 'survey_show' %> |
<%= link_button t('go_back'), surveys_path, 'go_back' %>
