<h1>Nyt spørgeskema</h1>

<% form_tag :action => :create do %>
  <%= render :partial => 'form' %>
  <%= submit_tag t('create'), :class => 'btn_gray' %>
<% end %>

<p>
<%= link_button t('go_back'), main_path, 'go_back' %>
