<h1>Nyt spørgeskema</h1>

<% form_tag :action => :create do %>
  <%= render :partial => 'form' %>
  <%= submit_tag t('create'), :class => 'btn_gray' %>
<% end %>

<%= link_to t('go_back'), :controller => :main, :action => :index %>
