<% if @cell %>
		<%
		newform = []
		answer_item = @cell.svar_item(false)
		answer_item_set = false
		
		@cell.question_items.each do |item|
		  listitem_without_predefined_text = item.text.blank?
		  case item.qtype
			when "textbox": 
				newform << "<td class='answer textbox'>"
				newform << 
				if (listitem_without_predefined_text)
					input_or_answer = "<div id='#{@cell.cell_id(@cell.question.number)}' class='answer_comment span-11'>#{@cell.value}</div>"
					input_or_answer
				else span_item((answer_item_set ? "" : answer_item) + item.text, "listitemtext".rstrip)
				end
			when "listitem":
				newform << "<td class='question'>"
        answer_item_set = true if @cell.col == 1
			  newform << span_item(((answer_item_set || @cell.col > 2) ? "" : answer_item) + item.text, "listitemtext".strip)
				answer_item_set = true;
			end
			newform << "</td>"
		end
		 %>
		<%= newform.join %>
<% end %>