<% if @cell %>
<tr><td><div id='row#{id}_#{row}' class='row'>
	<div class="listitemtext span-7">
		<%= @cell.answer_item %>. 
		<% @cell.question_items.each do |item| %>
		<%= item.text %>
		<% end %>
	</div>

	<div class="itemtext span-7"></div>

	<td>ListItem: <%= if @cell
		@cell.to_html
	else "no listitem"
	end %>
</td>
<br/>
</div>
</td>
</tr>

<% end %>