<div class="container">
	<%= render :partial => 'layouts/info_header' %>

<br/>

<%= render :partial => 'surveys/survey_header' %>
<br/>

	<div id='draft-message' style='color:red;'></div>
	<div id="survey_fast_input" class="command"></div>
	<br/>

		<% @questions.each do |question, cells| %>
			<% if cells.any? %>
				<%= render :partial => "question", :locals => {:question => question, :cells => cells} %>
			<% end %>
		<% end %>
	</div>
</div>

