

<!--[form:score_group]-->

<% for @scores in @score_groups %>

<% for score in @scores %>

<p><label for="score[]_title">Title: </label><%= score.title  %></p>

<p><label for="score[]_description">Description: </label><%= score.short_name  %></p>

<p>Scale: <%= score.scale %></p>

<p><label for="score[]_position">Position: </label><%= score.position %>


<% end %>

<% end %>
<!--[eoform:score_group]-->

