<h1>Editing score_group</h1>

<% form_tag :action => :update, :id => @score_groups do %>
  <%= render :partial => 'form' %>
  <%= submit_tag t('edit'), :class => 'btn_gray' %>
<% end %>

<%= link_to t('show'), :action => :show, :id => @score_groups.first.first.score_group %> |
<%= back_button, :action => :list %>
