<% for column in ScoreGroup.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @score_group.send(column.name) %>
</p>
<% end %>

<%= link_button t('edit'), :action => :edit, :id => @score_group %> |
<%= back_button :action => :list %>
