<% for column in ScoreGroup.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @score_group.send(column.name) %>
</p>
<% end %>

<%= link_to t('edit'), :action => :edit, :id => @score_group %> |
<%= link_to t('go_back'), :action => :list %>
