body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
	font-family: tacoma, verdana, arial, helvetica, sans-serif;
	font: small Tacoma, "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size:   13px;
	line-height: 18px;
}

pre {
	background-color: #eee;
	padding: 10px;
	font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }


.survey {
  border: 1px black solid;
  width: auto;
  padding: 3px;
	height: 60px;
}

#content {
	margin: 0px 50px 500px 200px;
	padding:10px;
	border: 1px #DDD solid;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

#content_survey {
	margin:0px 50px 20px 20px;
	padding:10px;
	border: 1px #DDD solid;
}

#infoheader {
	margin:30px 0px 10px 0px;
	padding:10px 0px 0px 20px;
	/* For IE5/Win's benefit height = [correct height] + [top padding] + [top and bottom border widths] */
	height:61px; /* 49px + 10px + 2px = 61px */
	border-style:solid;
	border-color:black;
	border-width:1px 0px; /* top and bottom borders: 1px; left and right borders: 0px */
	line-height:12px;
	background-color:#eee;

voice-family: "\"}\"";
voice-family:inherit;
height:49px; /* the correct height */
}

#centertitle {
	position:absolute;
	top:46px;
	margin-left: 24%;
	height: 20pt;
	font-size: 20pt;
	color: black;
	border: 0px solid red;
	padding: 5px;
}

.surveyname {
  padding: 0.5em;
	float: left;
	font-size: 16pt;
}

.survey_journal_info {
	float: right;
}
.ListTitle a {
  text-decoration: none;
}

question, table.question {
  border: 1px lightblue solid;
  display: table;
}

.group {
  border: 4px;
  padding-right: 2em;
  colspan: 100%;
}

td {
  border: 1px #DEF solid;
}

/*************** buttons **********/
a.button, input.button {
	background-color: #eee;
	border: 1px solid #ccc;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	color:#555555;
	font-weight:bold;
	line-height:29px;
	margin-bottom:14px;
	text-decoration:none;
	text-indent:10px;
	padding: 3px 15px 3px 10px;
}
a:hover.button {
	padding: 3px 15px 3px 10px;
	color:#0066CC;
	background-color: #ddd;
	border: 1px solid #000;
}
a:active.button {
	background-color: #aaa;
	border: 1px solid #000;
}

a .go_back {
	background:url('/images/arrow_undo.png') no-repeat 0px 0px;
	padding-left: 27px;
}
a .survey_input {
	background:url('/images/mouse.png') no-repeat 0px 0px;
	padding-left: 27px;
}
a .survey_fast_input {
	background:url('/images/pencil_go.png') no-repeat 0px 0px;
	padding-left: 27px;
}
/* submit buttons */
input.button {
	background-color: #eee !important;
	border: 1px solid #ccc;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	color:#555555;
	font-weight:bold;
	text-decoration:none;
	padding-left: 16px;
	line-height: 19px;
	text-indent: 20px;
	font-size: 12px;
}
input.button:hover {
	color:#0066CC;
	background-color: #ddd;
	border: 1px solid #000;
}
input.button:active {
	background-color: #aaa;
	border: 1px solid #000;
}


/* no border around input fields, especially radio buttons in IE */
/*input {*/
/*	border: 0;*/
/*}*/

.radio input[type="radio"] { 
	border: 0px;
}
.cellinfo {
  display: none;
  font-size: 0.8em;
  color: blue;
  text-align: left;
 }

/* limit the width */
.itemquestiontext {
/*  color: green; */
  width: 20em;
}

.ie .itemquestiontext {
  width: 220px;
}
.itemdescription {
  /*color: green;*/
  display: inline;
  padding-right: 10px;
}

.selectoption {
/*	width: 150px;*/
	display: inline;
	width: 22px;
	padding-left: 0px;
	padding-right: 40px;
}

.selectlabel {
	width: 120px;
	display: block;
}
/*.radio {
	margin-left: 0.2em;
	margin-right: 1.5em;
}*/

td.rating2 {
  text-align: center;
}
.ie .td.rating2 {
}
td.rating2 .radio {
  display: inline;
  margin-left: 10%;
  margin-right: 1%;
}

td.rating2lab {
  text-align: left;
}
td.rating2lab .radio {
  display: inline;
}
td.rating2lab .radiolabel {
  display: inline;
  padding-left: 0.2em;
  padding-right: 1.5em;
}

td.rating2lab1 {
  padding-left: 0.8em;
}
td.rating2lab1 .radio {
  display: inline;
}
td.rating2lab1 .radiolabel {
  display: inline;
  padding-left: 0.1em;
  padding-right: 0.8em;
}

td.rating2lab2 .radio {
  display: inline;
}
td.rating2lab2 .radiolabel {
  display: inline;
}

td.rating2lab3 .radio {
  display: inline;
}
td.rating2lab3 .radiolabel {
  display: inline;
}

/* copy from rating4 */
td.rating3 {
  text-align: center;
}
.ie td.rating3 {
/*  width: 250px;*/
  padding-left: 10px;
  text-align: center;
	display: inline;
 }

td.rating3 .radio {
  display: inline;
  padding-left: 24px; 	/*7%; */
  padding-right: 24px; 	/*7%; */
}
td.rating3 .radiolabel {
  display: inline;
}

td.rating3lab {  /* very short label */
/*	border: 0;*/
  text-align: center;
/*  width: 150px;*/
/*	display: inline;*/
}

.ie td.rating3lab {
	display: inline;
}

td.rating3lab .radio {
  display: inline;
}
.ie td.rating3lab .radio {
	display: inline;
  border-color: green;
}
td.rating3lab .radiolabel {
  display: inline;
  padding-right: 2.3em;
}
.ie td.rating3lab .radiolabel {
	display: inline;
/*  padding-right: 1.5em;*/
}

td.rating3lab1 {
  padding-left: 1.5em;
	display: inline;
}
td.rating3lab1 .radio {
  display: inline;
}
td.rating3lab1 .radiolabel {
  display: inline;
  padding-left: 0.2em;
  padding-right: 1.5em;
}

td.rating3lab2 {
	display: inline;
}
td.rating3lab2 .radio {
  display: inline;
}
td.rating3lab2 .radiolabel {
  display: inline;
  padding-left: 0.2em;
  padding-right: 1.5em;
}

td.rating3lab3 {
  padding-left: 1.5em;
	display: inline;
}
td.rating3lab3 .radio {
  display: inline;
}
td.rating3lab3 .radiolabel {
  display: inline;
  padding-left: 0.2em;
  padding-right: 1.5em;
}

td.rating3lab4 {
  padding-left: 1.5em;
	display: inline;
}
td.rating3lab4 .radio {
  display: inline;
}
td.rating3lab4 .radiolabel {
  display: inline;
  padding-left: 0.2em;
  padding-right: 1.5em;
}

td.rating4 {
  text-align: center;
/*	display: inline;*/
}
.ie td.rating4 {
/*  width: 250px;*/
	display: inline;
}

td.rating4 .radio {
  display: inline;
  padding-left: 15px;  /*7%;*/
  padding-right: 15px; /*7%;*/
}

/*.ie td.rating4 .radio {
	display: inline;
  padding-left: 15px;
  padding-right: 15px;
}*/

td.rating4 .radiolabel {
  display: inline;
}

td.rating4lab {
	display: inline;
}
td.rating4lab .radio {
   display: inline; 
}
td.rating4lab .radiolabel {
  display: inline;
  padding-right: 0.2em;
  padding-left: 1.5em;
}
td.rating4lab1 {
	display: inline;
}
td.rating4lab1 .radio {
  display: inline;
}
td.rating4lab1 .radiolabel {
  display: inline;
  padding-right: 1.5em;
  padding-left: 0.2em;
}
td.rating4lab2 {
	display: inline;
}
td.rating4lab2 .radio {
  display: inline;
}
td.rating4lab2 .radiolabel {
  display: inline;
  padding-right: 1.5em;
  padding-left: 0.2em;
}
td.rating4lab3 {
	display: inline;
}
td.rating4lab3 .radio {
  display: inline;
}
td.rating4lab3 .radiolabel {
  display: inline;
  padding-right: 1.5em;
  padding-left: 0.2em;
}
td.rating4lab4 {
	display: inline;
}
td.rating4lab4 .radio {
  display: inline;
}
td.rating4lab4 .radiolabel {
  display: inline;
  padding-right: 1.5em;
  padding-left: 0.2em;
}

td.rating5 {
  text-align: center;
	display: inline;
}
td.rating5 .radio {
  display: inline;
  padding: 0px 41px 0px 41px;
}
td.rating5 .radiolabel {
  display: inline;
}
td.rating5lab {
	display: inline;
}
td.rating5lab .radio {
	display: inline;
}
td.rating5lab .radiolabel {
	display: inline;
}

td.rating5lab2 {
  display: inline;
}
td.rating5lab2 .radio {
  display: inline;
}
td.rating5lab2 .radiolabel {
  display: inline;
  padding-left: 6px;
}

td.rating6 {
  text-align: center;
	display: inline;
}
td.rating6 .radio {
  display: inline;
  padding: 0px 42px 0px 42px;
}
td.rating6 .radiolabel {
	display: inline;
}
td.rating6lab {
	display: inline;
}
td.rating6lab .radio {
	display: inline;
}
td.rating6lab .radiolabel {
	display: inline;
}

td.rating7 {
	margin: 0 auto;
/*  text-align: center;*/
}
td.rating7 .radio {
  display: inline;
  padding: 0px 41px 0px 41px;
}
td.rating7 .radiolabel {
  display: inline;
}
td.rating7lab {
	display: inline;
}
td.rating7lab .radio {
	display: inline;
}
td.rating7lab .radiolabel {
	display: inline;
}




.itemdescription {
  display: inline;
  padding-right: 10px;
}

table.description { 
  margin-left: auto; margin-right: auto; 
}

table.description tr td {
	border: 0px;
}
.ie .description {
  padding-left: 20px;
}
.ie .description .itemdescription3 {
  text-align: center;
  padding-right: 5px;
/*  width: 50px; */
}



table.description .description3lab3 {  /* table to hold descriptions */
  border: 0;
  padding-left: 4px;
}

table.description .description4lab4 {  /* table to hold descriptions */
  border: 0;
  padding-left: 6px;
}

td.description3lab2 {
  padding: 0px 4px 0px 4px;
  width: 250px;
}
/* table inside above cell */
table.header_description3lab2 .description3lab2 {
	width: 50px;
  padding-left: 1.6em;
}
table.description3lab4 .description3lab4 {
	border: 0px;
}
table.description4lab4 .description4lab4 {
	border: 0px;
}
table.description5lab4 .description5lab4 {
	border: 0px;
}
table.description7lab4 .description7lab4 {
	border: 0px;
}


td.description3lab3 {
  padding: 0px 4px 0px 4px;
}

td.description3lab4 {
  padding: 0px 4px 0px 4px;
	width: 10em;
}

td.description4lab4 {
  padding: 0px 4px 0px 4px;
  width: 220px;
}

td.description5lab4 {
  padding: 0px 4px 0px 4px;
  width: 100px;
}

td.description6lab4 {
  padding: 0px 4px 0px 4px;
  width: 100px;
}

td.description7lab4 {
  padding: 0px 4px 0px 4px;
  width: 100px;
}

.itemdescription4 {
  padding: 0 8px 0 0;
  width: 4em;
  text-align: center;
  border: 0;
}
.itemdescription5 {
  padding: 0 10px 0 0;
  border: 0;
  width: 4em;
  text-align: center;
}
.itemdescription6 {
  padding: 0 10px 0 0;
  border: 0;
  width: 4em;
  text-align: center;
}

.itemdescription7 {
  padding: 0 10px 0 0;
  border: 0;
  width: 4em;
  text-align: center;
}

.radiolabel {
  display: inline;
}

.radiospace {
	display: inline;
/*	border: 1px red solid;*/
	height: 12px; 
	padding-left: 25px;
	padding-right: 25px;
}

.checkbox {
  display: block;
}

.iteminformation {
  padding-left: 1em;
}

.itemtextbox { /* tekst med beskrivboks efter */
  display: inline;
}

.listitemtext {  /* without predefined text */
  width: 250px;/*175px;*/
}

.listitem1 {  /* without predefined text */
  display: inline;
}

.itemlistitem2 {  /* with predefined text */
/*  display: inline; */
  width: 280px;
}

/* show answer for listitemcomment */
.answer_comment {
	width: 300px;
	border: 1px solid #ccc;
	font-size: 9pt;
	font-family: courier;
}

.answer_textbox {
	width: 175px;
	border: 1px solid #ccc;
	font-size: 9pt;
	font-family: courier;
}

.in_place_editor_field { color: red; }

.edit_question {
  border: 0;
  display: inline;
  font-size: -2;
  color: red;
/*  float: right;*/
  margin-left: 2em;
}

.edit_question a {
/*  display: block; */
  font-size: 8pt;
  color: red;
  text-decoration: none;
}

.gecko .table, .opera .table, .safari .table {
  display: table;
}

.gecko div.row, .opera .row, .safari .row {
  display: table-row;
}

.gecko div.cell, .opera .cell, .safari .cell {
  display: table-cell;
}

.ie .ie_action {
  display: none;
}

.ie .table {
  border: 0px;
  display: block; 
}

.ie div.row {
  display: block;
}

.ie div.cell {
  display: inline;
  height: 100%;
  width: 25%;
}


dt.options {
  margin: 0;
  display: block;
}

dd.options {
  display: compact; 
  text-align: left;
}

dt.form {
  width: auto;
}

a.action {
  color: red;
}

.ie img.icon:hover {
  background: #dddddd;
}

a img.icon:hover {
  background: #dddddd;
}

.options > a.action {
 font-size: x-small;
  color: red;
  margin-right: 0.8em;
}

.properties {
	border: 1px solid lightblue;
	font-size: 11px;
}

/******* validation *******/
input.disabled {
	border: 1px solid #F2F2F2;
	background-color: #F2F2F2;
}
input, textarea {
	border: 1px solid #90d846;
}
input.required, textarea.required {
	border: 1px solid #00A8E6;
}
input.validation-failed, textarea.validation-failed {
	border: 1px solid #FF3300;
	color : #FF3300;
}
input.validation-passed, textarea.validation-passed {
	border: 1px solid #00CC00;
	color : #000;
}
input.validation-maybe, textarea.validation-maybe {
	border: 1px solid orange;
	color : #000;
}

.validation-advice {
	margin: 5px 0;
	padding: 5px;
	background-color: #FF3300;
	color : #FFF;
	font-weight: bold;
}

.custom-advice {
	margin: 5px 0;
	padding: 5px;
	background-color: #C8AA00;
	color : #FFF;
	font-weight: bold;
}


.help_tip {
	white-space: nowrap;
	padding: 5px;
	font-size: x-small;
	border: 1px solid #0C0;
	float: center;
}

.survey_color_box {
	padding: 0 10 0 10;
	margin-right: 4px;
*/	display: inline;
}


.offstate-a, .offstate-b, .offstate-c, .offstate-d, .offstate-e, .offstate-f, .offstate-g, .offstate-h, .offstate-j, .offstate-i, .offstate-k, .offstate-l,
.offstate-m, .offstate-n, .offstate-o, .offstate-p, .offstate-q, .offstate-r, .offstate-s, .offstate-t, .offstate-u, .offstate-v, .offstate-w, .offstate-x, .offstate-z {
	display: none;
}
.onstate-a, .onstate-b, .onstate-c, .onstate-d, .onstate-e, .onstate-f, .onstate-g, .onstate-h, .onstate-j, .onstate-i, .onstate-k, .onstate-l,
.onstate-m, .onstate-n, .onstate-o, .onstate-p, .onstate-q, .onstate-r, .onstate-s, .onstate-t, .onstate-u, .onstate-v, .onstate-w, .onstate-x, .onstate-z {
	display: normal;
}

.switch-a, .switch-b, .switch-c, .switch-d, .switch-e, .switch-f {
		display: normal;
}


#draft-message {
	float: right;
	font-size: 11px;
}

.btn-submit {
	border: 1px outset #ccc;
	background-color: #eee;
}
.send_form {
	background-color: #eee;
	border: 1px solid #ccc;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	color:#555555;
	font-weight:bold;
	line-height:29px;
	margin-bottom:14px;
	text-decoration:none;
	text-indent:10px;
	padding: 3px 15px 3px 10px;
}
a .send_survey {
	background:url('/images/spinner.gif') no-repeat 0px 0px;
	padding-left: 27px;
}