
<div id='password_help'>
	<div class="button">
		<%= link_button_to_remote t('password.suggest'), 'password', :url => generate_password_path %>
	</div>
	<div id='new_password'></div>
</div>

<dt><label for="password">Password</label></dt>
<dd>

<%- if @user.errors.on(:password) %>
  	<div class="fieldWithErrors">
<%- else %>
	<div>
<%- end %>
	<%= password_field :user, :password, { :size => 20, :id => 'password' } %>
  </div>

<%- if params[:action] == 'edit' -%>  
	<div class="hint">Efterlad tom for uændret password</div>
<%- end -%>
</dd>

<dt><label for="password_confirmation">Skriv password igen</label></dt>
<dd>
<%- if @user.errors.on(:password) %>
  	<div class="fieldWithErrors">
<%- else %>
	<div>
<%- end %>
	<%= password_field :user, :password_confirmation, { :size => 20, :id => 'password_confirmation' } %></div></dd>
