<h2><%= t('user.new') %></h2>

<% form_tag :action => :create do %>
<%= render :partial => 'form' %>

<%= submit_tag t('create'), :name => 'submit[create]', :class => 'btn_gray' %>
<% end %>

<%= link_to t('go_back'), users_url, :title => t('go_back') %>
