<h2>Ny bruger</h2>

<% form_tag :action => :create do %>
<%= render :partial => 'form' %>

<%= submit_tag "Opret", :name => 'submit[create]', :class => 'btn_gray' %>
<% end %>

<%= link_to 'Tilbage', users_url, :title => 'Tilbage' %>
