<h2><%= t('user.new') %></h2>

<% form_tag :action => :create do %>
<%= render :partial => 'form' %>

<%= submit_tag t('create'), :name => 'submit[create]', :class => 'btn_gray' %>
<% end %>

<p/>

<%= link_button t('go_back'), users_url, 'go_back', :title => t('go_back') %>
