<h2><%= t('user.new') %></h2>

<% form_tag :action => :create do %>
<%= render :partial => 'form' %>

<%= submit_tag t('create'), :name => 'submit[create]', :class => 'button user_add' %>
<% end %>

<p/>

<%= back_button users_url %>
