<% if flash[:notice] -%>
  <div id="notice" align="center"><%= flash[:notice] %></div>
<% end -%>
<% if @users.any? %>
	<h2>Fundne brugere</h2>
  	<%= render :partial => 'shared/user_list' %>
<% else %>
  <h2>Intet fundet!</h2>
<% end %>