<p><strong>Teams</strong></p>
<% if @group.teams.any? %>
<ul>
	<% @group.teams.each do |group| %>
	<li>
		<%=	link_to(group.title, group) +	" [" + group.users.length.to_s + " bruger#{'e' unless group.users.length == 1}] " %>
	</li>
	<% end %>
</ul>
<% elsif @group.children.empty? %>
<p>Ingen</p>
<% end %>