<h2><%= @page_title %></h2>

<% form_tag centers_path do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Opret Center", :class => 'btn_gray' %>
<% end %>

<p/>
<%= link_button t('go_back'), centers_url, 'go_back', :title => t('go_back') %>
