<h2>Fortryd betaling af abonnementer</h2>
<p>
	Start på den nuværende periode fortrydes, og den foregående periode bliver genaktiveret.
	Brugte skemaer i den nuværende periode vil blive tilføjet tælleren for den foregående periode.
</p>
<p><%= render :partial => "subscriptions/subscriptions" %></p>
<p>
Er du sikker på at du vil fortryde betaling af abonnementer?
<p>
<strong>Denne handling kan ikke fortrydes</strong>.
</p>

<% form_tag :action => :undo_pay_subscriptions, :id => @group  do %>
<%= submit_tag 'Ja, fortryd betaling', :name => 'yes', :class => "button accept" %>
<%= submit_tag 'Nej, afbryd', :name => 'no', :class => "button deny" %>
<% end %>