<%= node_tree(@groups) do |g|
	  if current_user.has_access?(:team_show)
      	link_to( g.title, { :controller => "/"+g.class.to_s.underscore, :action => :show, :id => g.id },
        	:title => "Vis #{g.class.to_s}" )
	  else
		g.title
	  end
    end %>