<dl>
<dt>Vælg spørgeskemaer at abbonnere på</dt>
<dd><p>
	<%= "<input id=\"group\" type=\"hidden\" name=\"group[id]\" value=\"#{@group.id}\" checked=\"checked\" /> " %>
	<% @surveys.each do |survey| %>
	<% 	 sub = @subscribed.detect { |subsc| subsc.survey_id == survey.id }	%>
  <%=   result = "<div style='background-color: #{survey.color}; width: 25em;'>" + 
	"<input id=\"group_surveys_#{survey.id}\" type=\"checkbox\" name=\"group[surveys][]\" value=\"#{survey.id}\" checked=\"checked\" /> " if !sub.nil?
        result = "<div style='background-color: #{survey.color}; width: 25em;'>" +
				"<input id=\"group_surveys_#{survey.id}\" type=\"checkbox\" name=\"group[surveys][]\" value=\"#{survey.id}\" /> " if sub.nil?
        result += "<label for=\"group_surveys_#{survey.id}\">#{survey.title}</label></div>"
        result %>
  <% end %></p>
</dd>
<dl/>
