
		<h3><%= t('user.users') %></h3>
		<div id="user_list">
		<% if @users.empty? %>
		<p><%= t('none') %></p>
		<% else %>
		<%= render :partial => 'shared/user_list' %>
		<% end %>
	</div>

	<p/>
	<div class="commands">
		<%= link_button t('user.new'), new_user_path(@group), 'user_add', :title => t('user.new') %>
	</div>