<h2>Ny Login-bruger</h2>
<%= params[:user] = @user %>
<% form_tag :action => :create, :id => @entry do %>
<%= render :partial => 'form' %>

<%= submit_tag t('create'), :name => 'submit[create]', :class => 'btn_gray' %>
<% end %>

<%= link_to t('go_back'), { :controller => :journal, :action => :show, :id => @group }, :title => t('go_back_to_journal') %>
