<h2>Ny Login-bruger</h2>
<%= params[:user] = @user %>
<% form_tag :action => :create, :id => @entry do %>
<%= render :partial => 'form' %>

<%= submit_tag t('create'), :name => 'submit[create]', :class => 'btn_gray' %>
<% end %>

<%= link_button t('go_back'), @group, 'go_back', :title => t('go_back_to_journal') %>
