Kære <%= @user.name %>

Du (eller en anden som har brugt din email adresse) har sendt en anmodning om et nyt password. Dit nye
password er:

  <%= @password %>

Gå venligst til vores website <a href="http://www.cbcl-sdu.dk" title="CBCL-SDU.dk">CBCL-Online</a> og log
ind med dette password. Når du er logget ind, bedes du ændre dit password.

Tak,

CBCL Online