<h1>Ny scoreskala</h1>

<% form_tag :action => :create do %>

	<%= text_field(:score_scale, :title, :class => 'btn_gray') %>

  <%= submit_tag "Opret", :class => 'button accept' %>
<% end %>

<p/><br/>
<%= back_button score_scales_path  %>
