	<table class="project_info">
		<tr>
			<td class="t_i"><label for="project_code">Projekt-id:</label></td>
			<td class="t"><%= text_field "project", "code" %></td>
		</tr>
		<tr>
			<td class="t_i"><label for="project_name">Navn:</label></td>
			<td class="t"><%= text_field "project", "name" %></td>
		</tr>
		<tr>
			<td class="t_i"><label for="project_description">Beskrivelse:</label></td>
			<td class="t"><%= text_field "project", "description" %></td>
		</tr>
		<tr>
			<td class="t_i"><label for="project_center">Center:</label</td>
			<td class="t_i"><%= collection_select :project, :center_id, @centers, :id, :title %>
		</tr>
	</table>