<h1>Rediger brev</h1>

<% form_for(@letter) do |f| %>
  <%= f.error_messages %>

	<%= render :partial => 'form' %>

  <p>
    <%= f.submit t('update'), :class => 'button save' %>
  </p>

<% end %>

<%= back_button letters_path %>