<h1>Brevformularer</h1>

<table>
  <tr>
  </tr>

<% @letters.each do |letter| %>
  <tr>
    <td><%= link_to 'Show', letter %></td>
    <td><%= link_to 'Edit', edit_letter_path(letter) %></td>
    <td><%= link_to 'Destroy', letter, :confirm => 'Er du sikker?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_button t('letter.new'), new_letter_path, 'letter_new' %>