
<div class="button">
	<%= link_button t('letter.new'), new_letter_path(@group), 'letter_new', :title => 'Opret nyt brev' %> 
</div>	

<%= back_button, letters_path %>
<%= link_to 'Back', letters_path %>