<html>
	<head>
	  <title>Der er sket en fejl (500)</title>
		<style type="text/css">
			body { background-color: #fff; color: #666; text-align: center; font-family: arial, sans-serif; }
			div.dialog {
				width: 25em;
				padding: 0 4em;
				margin: 4em auto 0 auto;
				border: 1px solid #ccc;
				border-right-color: #999;
				border-bottom-color: #999;
			}
			h1 { font-size: 100%; color: #f00; line-height: 1.5em; }
		</style>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	</head>
	<body>
		
		<div id="centerMain">
			<div id="logo"><a href="http://cbcl-sdu.dk:3000"></a></div>
			<div id="flash_notice" class="notice" style="display:none;"></div>

			<!-- This file lives in public/500.html -->
			<div class="dialog">
				<h1>Der er desværre sket en fejl.</h1>
				<p>We've been notified about this issue and we'll take a look at it shortly.</p>
				Bruger: <%= @user_id %>
				<%= @journal_entry ? "Skema: #{@journal_entry}" : "" %><br/>
				Fejlbesked: <%= @message %>:<br/>
				<%= @backtrace %>
				
			</div>
		</div>
		<div id="footer"> 
			<div style="float: right; font-size: 11px;"> 
				<a href="#" onClick="return false;" id="feedback_anchor"><strong>Send Feedback</strong></a> 
			</div> 
			<br class="clearboth"> 
		</div>
	</body>
	
	
    <script language="javascript">
		<!--
			function showFlash(notification_html)
			{
					$("flash_notice").innerHTML = notification_html;
					$("flash_notice").show();
				//make flash notice appear
					new Effect.Appear("flash_notice", { duration:0.5, from:0.0001, to:0.9999 });
			 }
		-->
		</script>
		
</html>