<h3>Center: <%= @group.title %></h3>

<% form_tag :action => :create do %>
	<%= render :partial => "shared/subscription_new" %>
	
	<p>
		<%= submit_tag "Abbonner", :class => 'button subscribe' %>
		<%= back_button center_path(@group) %>
	</p>
<% end %>
