<h2>Opret journal</h2>

<% form_tag :action => :create do %>
<%= render :partial => 'form' %>

	<% render :partial => "shared/add_survey", :object => @surveys %>

<%= submit_tag "Opret", :name => 'submit[create]', :class => 'btn_gray' %>
<% end %>

<%= link_to 'Tilbage', { :action => :list }, :title => 'Tilbage til liste af journaler' %>
