<a class='button' style="padding-top: 5px;" id='send_form'>
	<span onclick="submitPressed = true; document.forms[0].submit(); $('send_form').hide(); $('save_draft').hide(); $('sending_form').show();">Send svar</span>
</a>
<div id="sending_form" style="display: none;">
	<a class='send_form button' href='#'>
		<span class="send_survey">Sender svar...</span>
	</a>
</div>
<script type="text/javascript">
	var submitPressed = false;
</script>