<%- question_first = Time.now %>
<% question = question_fast %>
<% no = question.number %>
<% id = question.id.to_s %>

<div id='question_number<%= no %>'>
	<% if current_user.access? :survey_edit_delete %>
		<% if no > 0 %>
			Spørgsmål: <%= no %>
		<% end %>
	<% end%>
	
	<br>
	<table class="question" id="question<%= id %>"> 
		<tbody>
		<%- 
		rows = question.rows_of_cols
		
		output = ["<input id='Q#{no}_id_#{id}' name='Q#{no}[id]' type='hidden' value='#{id}' >"]

		index = 0
		rows.sort.each do |row, cols|
			color = index % 2 == 0 && "even" || "odd"
			output << "<tr><td><div id='row#{id}_#{row}' class='row'>\n"
			output << 
				if row == 1
					"\t<div class='group span-1'>#{no > 0 && (no.to_roman + ". ") || '&nbsp;'}</div>\n"
				else
					"\t<div class='span-1'>&nbsp;</div>\n"
				end

			no_cols = cols.size
			cols.each do |col, cell|
				html = cell.to_fast_input_html(@options.merge(:number => no, :last => cell.col == no_cols))
				output << html if html

				# colspan = (cell.instance_of? Information) ? "colspan='3'" : ""
				# output << cell.to_fast_input_html(@options.merge(:number => no))
			end
			output << "</div></td></tr>\n"
		end	
		%>
		<%= output.join %>
		</tbody>
	</table>
	</div>


