<script type="text/javascript">
var doNotCall = document.location.href.match(/show_only/);
if(doNotCall == null) {
	var val = /([0-9]+)$/;
	var matches = document.location.href.match(val);
	var params = {};
	params['id'] = matches[1];

	// if there's no cookie, the id in URL is a journal_entry (else a survey_id), and thus not answered by a login user
	var journal_entry = document.cookies().get('journal_entry');
	if(!(typeof(journal_entry) == "undefined")) {
		params['id'] = journal_entry;
		var save_draft_url = '/survey_answers/save_draft/' + params['id'];
		
	}
}

function save_draft() { alert(save_draft_url); new Ajax.Updater('draft-message', save_draft_url, {asynchronous:true, evalScripts:true}); return false; };
</script>

<% cache(:action => 'show', :action_suffix => 'survey') do %>
	<%= render :partial => 'surveys/survey_header' %>
<br/>

<div id='draft-message' style='color:red;'></div>
<div id="survey_fast_input" class="command"></div>
<br/>

<form action="/survey_answers/create/0" id="surveyform" method="post" >
	<!-- Put before validation.add -->
	<script type='text/javascript'>
	   new Validation('surveyform', {immediate : true, stopOnFirst : true });
	</script>
	<div>
			Udfyldt af <%= select :answer, :person, @survey.answer_by %>
			Hvis andet, skriv hvem: <input type='text' id='answer_person_other' name='answer[person_other]' />
	</div>
	<br/>
	<%= render :partial => "surveys/question", :collection => @survey.questions %>
	<div id="submit_button" style="display:none;">
		<%= render :partial => 'surveys/fancy_submit_button' %>
		<span style="padding-left: 50px">
			<a class='button' id='save_draft' 
				onclick="save_draft(); return false;">
				<span class="survey_save_draft">Gem kladde</span>
			</a>
		</span>
	</div>
</form>

<p/> <!-- dynamic -->
	<div id="back_button" style="display:none;"></div>

<script type="text/javascript">
Event.observe(window, 'load', function() {
		var save_interval = 60;
		new Form.Observer('surveyform', save_interval, function(element, value) {
			new Ajax.Updater('draft-message', save_draft_url, {asynchronous:true, evalScripts:true, parameters:value});
		});

		get_dynamic_fragments("/survey_answers/dynamic_data", params);
		
		// set form action to this journal_entry
		changeAction('surveyform', '/survey_answers/create/' + params['id']);
	//}
});
</script>
<% end %>
</script>