<div class="container">
<% cache(:action => 'show', :action_suffix => 'survey') do %>
	<%= render :partial => 'surveys/survey_header' %>
<br/>


	<div id='draft-message' style='color:red;'></div>
	<div id="survey_fast_input" class="command"></div>
	<br/>


	<form action="/survey_answers/create/0" id="surveyform" method="post" >
		<!-- Put before validation.add -->
		<script type='text/javascript'>
		new Validation('surveyform', {immediate : true, stopOnFirst : true });
		</script>
		<div class='span-24'>
			<span class="prepend-1 span-4">Udfyldt af <%= select :answer, :person, @survey.answer_by %></span>
			<span class="span-8 last" >Hvis andet, skriv hvem: <input type='text' id='answer_person_other' name='answer[person_other]' /></span>
		</div>
		<br/>
		<%= render :partial => "surveys/question", :collection => @survey.questions %>

		<div id="submit_button" style="display:none; padding-top: 15px;">
			<%= render :partial => 'surveys/fancy_submit_button' %>

			<span style="padding-left: 100px;">
				<a class='button' id='save_draft' style="display: none;">
					<span id="spinner"><img alt="spinner" src="/images/spinner.gif"></span>
					<span class="survey_save_draft">Gem kladde</span>
				</a>
			</span>
		</div>
	</form>
</div>

<p/> <!-- dynamic -->
	<div id="back_button" style="display:none;"></div>

<script type="text/javascript">

function initMakeItCount() {
 	var comments = $$('textarea.comment');
  comments.each(function(comment) {
    makeItCount(comment.id, 2000);
  });	
	// var textfields = $$('textarea.textfield');
	//   textfields.each(function(textfield) {
	//     makeItCount(textfield.id, 220);
	//   });
}

function hideSpinner() {
	$('spinner').hide();
	// Effect.Highlight('save_draft');
	new Effect.Highlight('content_survey');
}

Event.observe(window, 'load', function() {
	// updated 05/12 18.07 CET

	var doSave = true;
	// do not add submit button when it's show only
	var doNotCall = document.location.href.match(/show_only/);
	var formParams = null;
	if(doNotCall == null) {
		// var val = /([0-9]+)$/;
		//   	var matches = document.location.href.match(val);
		var params = {};
		// params['id'] = matches[1];
		var save_interval = 60;
		// if there's no cookie, the id in URL is a journal_entry (else a survey_id), and thus not answered by a login user
		var journal_entry = document.cookies().get('journal_entry');
		if((typeof(journal_entry) == "undefined")) {
			alert("Fejl: Kan ikke hente brugerinformation: ");
		}

		var save_draft_url = '/survey_answers/save_draft/0';
		
		if(!(typeof(journal_entry) == "undefined")) {
			params['id'] = journal_entry;

			new Ajax.Request("/survey_answers/draft_data/" + params['id'], {
			  method: 'post',
				parameters: params,
				contentType: "text/javascript",
				evalJS: true,
			  onSuccess: function(transport) {
					eval(transport.responseText);
					wFORMS.behaviors['switch'].init();
			  }
			});

			var set_values_interval = 2;
			save_draft_url = '/survey_answers/save_draft/' + params['id'];
			// set values in params every 5 seconds, so when clicking save_draft, the values can be saved
			new Form.Observer('surveyform', set_values_interval, function(element, value) { formParams = value; });
			// save values every 60 seconds
			new Form.Observer('surveyform', save_interval, function(element, value) {
				if(doSave) {
					new Ajax.Updater('draft-message', save_draft_url, {asynchronous:true, evalScripts:true, parameters:formParams});
				}
			});
			//]]>
		}
		get_dynamic_fragments("/survey_answers/dynamic_data", params);
		// set form action to this journal_entry
		changeAction('surveyform', '/survey_answers/create/' + params['id']);
		
		
		$('save_draft').show();
	}

	$('spinner').hide();

	$('save_draft').observe('click', function(el) {
		doSave = false;
		$('spinner').show();
		new Ajax.Updater('draft-message', save_draft_url,
				{ asynchronous:true, evalScripts:true, parameters:formParams, onComplete:hideSpinner });
			return false;
		});
		// limit text input in textboxes
	initMakeItCount();
});


</script>
<% end %>
</script>