<h2>Liste af roller</h2>

<div class="commands">
<%= link_to 'Ny rolle', new_role_url %>
</div>

<%= node_tree @roles do |role|
      result = link_to(role.title, role_path(role)) + " "
      result += "[" + role.users.length.to_s + "/" + role.all_users.length.to_s + " users, " 
      result += role.groups.length.to_s + "/" + role.all_groups.length.to_s + " groups]"
      result += "(" + link_to('Vis', role_path(role), :title => 'Show') + " "
      result += link_to('Rediger', edit_role_path(role), :title => 'Edit') + " "
      result += link_to('Slet', role_path(role), :method => :delete, :title => 'Delete') + ")"
    end %>

<div class="commands">
<%= link_to 'Ny rolle', new_role_url %>
</div>
