<div id="logout">
	<h3>Er du sikker på at du vil logge ud?</h3>

	<% form_tag :action => :logout do %>
	<%= submit_tag 'Ja', :name => 'yes', :class => 'gray' %>
	<%= submit_tag 'Nej', :name => 'no', :class => 'gray' %>
	<% end %>

</div>