<div id="logout">
	<h3><%= t('logout_question') %></h3>

	<% form_tag :action => :logout do %>
	<%= submit_tag 'Ja', :name => 'yes', :class => 'button logout' %>
	<%= submit_tag 'Nej', :name => 'no', :class => 'button login' %>
	<% end %>

</div>