<% @subtitle = "Vælg spørgeskemaer der skal besvares" %>
<h3>Tilføj spørgeskemaer til journal <%= @group.title %></h3>

<% form_tag :action => :add_survey do %>

<% if @surveys.empty? %>
	Centret abbonnerer ikke på nogen spørgeskemaer for denne aldersgruppe.<br/>

<% else %>
	<%= render :partial => "shared/add_survey" %>
	<p>
		<%= submit_tag "Skal besvares", :name => 'submit[update]', :class => 'button survey_add' %>
	</p>
<% end %>

<%= back_button @group %>

<% end %>