<h2>Rediger Journal</h2>

<% form_tag journal_url(@group), :method => :put do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Anvend Ændringer', { :class => 'normal' } %>
<% end %>

<%= link_to 'Vis', journal_url(@group), :title => 'Vis journal' %> |
<%= link_to 'Tilbage', journals_url, :title => 'Tilbage til liste' %>
