<h2>Rediger Journal</h2>

<% form_tag journal_url(@group), :method => :put do %>
  <%= render :partial => 'form' %>
  <%= submit_tag t('save_changes'), :class => 'button journal_edit' %>
<% end %>

<%= back_button journal_url(@group) %>
