<h2>Rediger Journal</h2>

<% form_tag journal_url(@group), :method => :put do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Anvend Ændringer', { :class => 'normal' } %>
<% end %>

<%= link_button t('show'), journal_url(@group), :title => t('journal.show'), 'journal_show' %> |
<%= link_button t('go_back'), journals_url, 'go_back' :title => t('go_back_to_list') %>
