<h2>Rediger Journal</h2>

<% form_tag :action => :update, :id => @group do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Anvend Ændringer', { :class => 'normal' } %>
<% end %>

<%= link_to 'Vis', { :action => :show, :id => @group }, :title => 'Vis journal' %> |
<%= link_to 'Tilbage', { :action => :list }, :title => 'Tilbage til liste' %>
