<h2>Liste af Journaler</h2>

<% unless @groups.empty? %>
<p>
Tryk på en kolonne for at sortere tabellen.
</p>
<% end %>

<%= render :partial => 'shared/journal_list' %>

<p>
<br/>
<% if current_user.access? :journal_new_edit_delete %>
<div class="commands">
	<%= link_button 'Ny Journal', new_journal_path, 'journal_add' %>
</div>
<% end %>
