<h2>Opret journal</h2>

<% form_tag journals_path do %>
	<%= render :partial => 'form' %>
	<%= submit_tag t('create'), :name => 'submit[create]', :class => 'button journal_add' %>
<% end %>

<%= back_button journals_path %>
