<h2>Opret journal</h2>

<% form_tag journals_path do %>
	<%= render :partial => 'form' %>

	<% render :partial => "shared/add_survey", :object => @surveys %>

	<%= submit_tag t('create'), :name => 'submit[create]', :class => 'btn_gray' %>
<% end %>

<%= link_button t('go_back'), journals_path, 'go_back', :title => 'Tilbage til liste af journaler' %>
