<% if flash[:notice] -%>
  <div id="notice" align="center"><%= flash[:notice] %></div>
<% end -%>
<% if @groups.any? %>
	<h2>Fundne journaler</h2>
  	<%= render :partial => 'shared/journal_list' %>
<% else %>
  <h2>Intet fundet!</h2>
<% end %>

<script type="text/javascript">
	TableKit.load();
</script>