<% section_id = "section_#{@section.id}" %>
<li class="draggable" id="<%= section_id %>" style="border: 1px solid #aaa; width: 30%;">
	<% if @action == 'order' %>
		<%= img_tag_html4 '/images/drag_handle.gif', :alt => 'træk til ønskede position' %>
	<% end %>
	<strong>
		<% if @action == 'order' %>
			<%= @section.title %>
		<% else %>
			<%= link_to @section.title, faq_section_path(@section) %>
		<% end %>
	</strong>
</li>
