<% section_id = "section_#{@section.id}" %>
<li class="draggable" id="<%= section_id %>" style="border: 1px solid #aaa; width: 30%;">
	<% if @action == 'order' %>
		<%= img_tag_html4 '/images/drag_handle.gif' %>
	<% end %>
	<strong>
		<% if @action == 'order' %>
			<%= section_text(@section) %>
		<% else %>
			<%= link_to section_text(@section), :action => 'show_section_path', :id => @section %>
		<% end %>
	</strong>
</li>
