<h3><%= 'Rediger afsnit' %></h3>

<% form_remote_for(@section, :html => {:id => 'faq_section_form'}, :url => {:action => 'update_section', :id => @section}) do |f| %>
<div>
  <div>
    <div>
      <%= f.label(:title, "Afsnitstitel") %>
  		<%= f.text_field(:title, :class => "btn_gray") %>
    </div>
	</div>
	<%= f.submit "Gem", :name => "submit", :disable_with => "Øjeblik...", :class => "btn_gray" %>
</div>
<% end %>