<h1>Opret nyt afsnit</h1>

<% form_for(@section, :html => {:id => 'faq_section_form'}, :method => :put) do |f| %>

<div>
  <div>
		<div class="form-row">
      <%= f.label :title, "Afsnitstitel" %>
  		<%= f.text_field :title %>
    </div>
	</div>

<div class="form-row">
	<%= f.submit "Gem", :name => "submit", :class => "button accept" %>  
</div>
</div>

<% end %>
<%= back_button faqs_url %>

