<h3>Fandt følgende...</h3>

<% @results.each do |result| %>
	<% if result.instance_of? Faq %>
		<%= link_to_remote question_text(result), :url => {:action => 'answer_path', :id => result %>
	<% elsif result.instance_of? FaqSection %>
		<%= link_to_remote section_text(result), :url => {:action => 'answer_path', :id => result %>
	<% else %>
		<%= result.inspect %>
	<% end %>
<% end %>