<%= stylesheet_link_tag_html4 'survey_print' %>

<div id="survey_header">
	<div class="survey" style='background-color: #fff<%# @survey.color %>;'>
		<div id="survey_journal_info">
		</div>
		<div class="surveyname"><%= @survey.title %></div>
	</div>
</div>
<br/>

<br/>

	<div><%# render :partial => "surveys/answer_by" %></div>
	<br/>
	<%= render :partial => "surveys/question", :collection => @survey.questions %>

<p/>