<%= error_messages_for 'nationality' %>

<!--[form:nationality]-->
<p><label for="nationality_country">Nationalitet</label><br/>
<%= text_field 'nationality', 'country', :class => 'gray'  %></p>

<p><label for="nationality_items">Landekode</label><br/>
<%= text_field 'nationality', 'country_code', :class => 'gray'  %></p>

<!--[eoform:nationality]-->

