<%= error_messages_for 'nationality' %>

<!--[form:nationality]-->
<p><label for="nationality_country">Nationalitet</label><br>
<%= text_field 'nationality', 'country'  %></p>

<p><label for="nationality_items">Landekode</label><br>
<%= text_field 'nationality', 'country_code'  %></p>

<!--[eoform:nationality]-->

