<h1>Rediger nationalitet</h1>

<% form_tag nationality_path(@nationality), :method => :put do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Rediger', :class => 'btn_gray' %>
<% end %>

<%= link_to 'Vis', nationality_path(@nationality) %> |
<%= link_to 'Tilbage', nationalities_path %>
