<h1>Rediger nationalitet</h1>

<% form_tag nationality_path(@nationality), :method => :put do %>
  <%= render :partial => 'form' %>
  <%= submit_tag t('edit'), :class => 'btn_gray' %>
<% end %>

<%= link_button t('show'), nationality_path(@nationality), 'nationality_show' %> |
<%= link_button t('go_back'), nationalities_path, 'go_back' %>
