<h1>Rediger nationalitet</h1>

<% form_tag nationality_path(@nationality), :method => :put do %>
  <%= render :partial => 'form' %>
  <%= submit_tag t('save'), :class => 'button save' %>
<% end %>

<%= link_button t('show'), nationality_path(@nationality), 'nationality_show' %> |
<%= back_button nationalities_path %>
