
<table>
	
	<tr>
		<th>Nationalitet</th>
	</tr>	
	<tr>
		<td><%=h @nationality.country %></td>
		<td><%=h @nationality.country_code %></td>
	</tr>
</table>

<%= link_to t('edit'), edit_nationality_path(@nationality) %> |
<%= link_to t('go_back'), nationalities_path %>
