<h2>Listing Roles</h2>

<p>
Below is a complete tree of all roles known to the system.
</p>

<div class="commands">
<%= link_to 'Ny rolle', active_rbac_role_url, :method => :post %>
</div>

<%= node_tree @roles do |role|
      result = link_to(role.title, { role }) + " "
      result += "[" + role.users.length.to_s + "/" + role.all_users.length.to_s + " users, " 
      result += role.groups.length.to_s + "/" + role.all_groups.length.to_s + " groups]"
      result += "(" + link_to('Vis', { role }, :title => 'Show') + " "
      result += link_to('Rediger', { active_rbac_role_path(role), :method => :put }, :title => 'Edit') + " "
      result += link_to('Slet', { active_rbac_role(role), :method => :delete }, :title => 'Delete') + ")"
    end %>

<div class="commands">
<%= link_to 'Ny rolle', active_rbac_role_url, :method => :post %>
</div>
