<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<% @user = current_user %>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >

	<title><%= @page_title %></title>
	<%= stylesheet_link_tag 'validation' %>	
	<%= stylesheet_link_tag 'cbcl' %>
	<%= stylesheet_link_tag 'survey' %>

	<%= javascript_include_tag 'prototype' %>
	<%= javascript_include_tag 'effects' %>
	<%= javascript_include_tag 'controls' %>
	<%= javascript_include_tag 'application' %>
	<%= javascript_include_tag 'wforms/wforms_core' %>
	<%= javascript_include_tag 'wforms/wforms_switch' %>

	<% javascript_include_tag 'wforms/wforms_jump' %>
	<%= javascript_include_tag 'validation' %>
	<%= javascript_include_tag 'tabbing' %>
	<%= javascript_include_tag 'css_browser_selector' %>
</head>
<body>

	<%= render :partial => 'layouts/info_header' %>

<div id="content_survey">
	<%= render :partial => 'layouts/error_messages' %>

	<%= @content_for_layout %>
	
	<div id="submitting" style="border: 1px solid green; padding: 8px; display: none;">Sender svar...</div>
	
</div>

</body>
</html>