<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >

	<title>CBCL Spørgeskema</title>
	<%= stylesheet_link_tag 'cbcl' %>
	<%= javascript_include_tag 'curvy_compiled' %>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
	<script type="text/javascript">
		var curvyCornersVerbose = false;
	</script>

</head>
<body>

	<%= render :partial => 'layouts/info_header' %>

<div id="content_survey">
	<%= @content_for_layout %>
</div>

<script type="text/javascript">
$(document).ready(function() {
  $("a.new_window").click(function() {
    link_host = this.href.split("/")[2];
    document_host = document.location.href.split("/")[2];

    if (link_host == document_host) {
      window.open(this.href);
      return false;
    }
  });
});
</script>

</body>
</html>